.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 48px;
}
.clients__list {
  width: calc((100% - 150px) / 6);
}
.clients__link {
  @extend %flexCenter;

  height: 92px;

  background-color: map-get($colors, white-prymary-full);
  border: 1px solid map-get($colors, fill-icon);
  border-radius: 4px;
  @include trans(border);

  &:hover,
  &:focus {
    border-color: map-get($colors, accent-color);
  }
}
.clients__icon {
  fill: map-get($colors, fill-icon);
  height: 60px;
  width: 106px;

  @include trans(fill);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: map-get($colors, accent-color);
  }
}
