.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.clients__title {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
  }
}
.clients__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
.clients__list {
  display: block;
}
.clients__link {
  @extend %flexCenter;

  height: 92px;

  background-color: map-get($colors, white-prymary-full);
  border: 1px solid map-get($colors, fill-icon);
  border-radius: 4px;
  @include trans(border);

  &:hover,
  &:focus {
    border-color: map-get($colors, accent-color);
  }
}
.clients__icon {
  fill: map-get($colors, fill-icon);
  height: 60px;
  width: 106px;

  @include trans(fill);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: map-get($colors, accent-color);
  }
}
