.hero {
  padding: 118px 0;

  background-image: url(../images/Overlay.png), url(../images/backgroud.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
.hero__title {
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  width: 420px;

  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  color: map-get($colors, white-prymary-full);
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
