.contact {
  display: block;
  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contact--footer {
  display: inline;
  margin: 0;
}

.contact__list {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}
.contact__link {
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  font-weight: 500;
  color: map-get($colors, accent-color);
  @include trans();

  &:hover,
  &:focus {
    color: map-get($colors, accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    color: map-get($colors, secondary-text);
    font-size: 12px;
    line-height: calk(14 / 12);

    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.142;
  }
}
.contact__link--momile {
  font-size: 24px;
  line-height: calc(28 / 24);
}
.contact__link--footer {
  display: inline-block;

  font-weight: 400;
  line-height: 1.71;

  padding-top: 4px;
  padding-bottom: 4px;
}
.contact__link--white {
  color: map-get($colors, white-prymary-full);
}
.contact__icon {
  fill: map-get($colors, secondary-text);
  margin-right: 10px;

  @include trans(fill);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: map-get($colors, accent-color);
  }
}
