.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer__address {
  margin-top: 20px;
}
.footer__box-social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 16px;
  }
}
.footer__box-subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: 92px;
    margin-top: 16px;
  }
}
.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: map-get($colors, white-prymary-full);
}
