.input {
  position: relative;
  display: block;

  border-radius: 4px;
  border: 1px solid map-get($colors, border-opacity);

  @include trans(border-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    border-color: map-get($colors, accent-color);
  }

  &::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: map-get($colors, white-title);
  }
}
.footer__input {
  width: 358px;
  height: 50px;
  padding: 16px;

  background-color: map-get($colors, grey-bkg-dark);

  color: map-get($colors, white-prymary-full);
}
.modal__input {
  height: 40px;
  width: 100%;
  padding-left: 40px;

  border: 1px solid map-get($colors, black-opacity);
}

.input-label {
  display: block;
  cursor: pointer;
  padding-bottom: 4px;
}
.footer__input-label {
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: map-get($colors, white-prymary-full);

  margin-bottom: 0;
  padding-bottom: 20px;
}
.modal__input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: map-get($colors, secondary-text);
}
.agreement__input-label {
  @extend %flexCenterLine;

  flex-direction: row-reverse;
  justify-content: flex-end;

  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: map-get($colors, secondary-tex);
  cursor: pointer;
}

.input-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid map-get($colors, black-opacity);

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: map-get($colors, placeholder_text);
  }
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: map-get($colors, prymary-text);

  width: 18px;
  height: 18px;

  @include trans(fill);

  .box:hover &,
  .input:focus + & {
    fill: map-get($colors, accent-color);
  }
}

.input-agreement {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.agreement__icon {
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-left: 12px;

  background-size: contain;
  background-origin: padding-box;
  background-image: url(../images/icon_check.svg);

  border: 2px solid map-get($colors, prymary-text);
  border-radius: 2px;

  @include trans2(border-color, background-color);

  .agreement__input-label:hover &,
  .agreement__input-label:focus & {
    border-color: map-get($colors, accent-color);
  }
  .input-agreement:checked ~ & {
    border-color: map-get($colors, accent-color);
    background-color: map-get($colors, accent-color);
  }
}
.agreement__terms {
  margin-left: 4px;
  color: map-get($colors, accent-color);

  @include trans();

  &:hover,
  &:focus {
    color: map-get($colors, accent-plus);
  }
}
.agreement__text {
  margin-left: 8px;
}
