.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: map-get($colors, black-opacity);
}
.modal__box {
  @extend %positCenter;
  opacity: 1;

  width: 528px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: map-get($colors, white-prymary-full);

  @include trans2(transform, opacity);
}
.modal.is-hidden .box-modal-form {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}
.modal__title {
  display: block;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
label.box:not(:last-child) {
  margin-bottom: 10px;
}
