.header {
  width: 100%;
  @media screen and (max-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    @include border(map-get($colors, grey-border));
  }
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__menu-mobile {
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.window-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 48px 40px;
  background-color: map-get($colors, white-prymary-full);
}
.window-menu__box {
  display: flex;
  max-width: 400px;
  max-height: 100%;
  flex-direction: column;
}
.window-menu__social {
  margin-top: 64px;
  display: flex;
}
