.socials {
  display: flex;
}
.socials__list {
  & + & {
    margin-left: 10px;
  }
}
.socials__link {
  @extend %flexCenter;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: map-get($colors, white-prymary-full);
  @include trans(background-color);

  &:hover,
  &:focus {
    background-color: map-get($colors, accent-color);
  }
}
.socials__link--dark {
  background-color: map-get($colors, social-bkg-dark);
}
.socials__icon {
  width: 20px;
  height: 20px;

  fill: map-get($colors, fill-icon);
  @include trans(fill);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: map-get($colors, white-prymary-full);
  }
}
.socials__icon--white {
  fill: map-get($colors, white-prymary-full);
}
.window-menu__social-list {
  position: relative;
  display: inline-block;
  &:not(:last-child)::after {
    content: '';
    margin: 0 10px;
    border: 1px solid map-get($colors, menu_border);
  }
}
.window-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;

  color: map-get($colors, accent-color);
}
